.translucent{
  margin-top: 8px;
  color:rgba(0,0,0,0.3);
}

.dottedBorder{
  border: 1px dotted #000;
  border-radius: 5px;
}

.topBottomGap{
  margin-top:4px;
  margin-bottom:4px;
}

.leftGap{
  margin-left: 2%;
}

.rightGap{
  margin-right: 2%;
}

.tsz12{
  font-size: 12px;
}

.tsz14{
  font-size: 14px;
}

.tsz18{
  font-size: 18px;
}

.tsz22{
  font-size:22px;
}

.btnSettings{
  text-align:left;
  width:50%
}

.transitionWidth{
  width:75%;
}

.under{
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}